/*###############################################################################*/
/*###############################mobile size#####################################*/
/*###############################################################################*/
  body{
    font-family: Arial;
  }

  section{
    text-align: center;
    width: 100%

  }
  a {
    text-decoration: none;
  }

  table{
      text-align: center;
    width: 100%
  }
  tr{
    display: inline-block;
    }


  .back{
    margin: 35px;
    /*margin-top: 40%;*/
  }

  .onglet{
    border-style: hidden;
    border-radius: 200%;
    background-color: #E8630F;
    color: #F0F0F0;
    font-size: 25px;
  }

  footer{
    /*border: 1px solid black;*/
    padding-top: 27%;
  }



  .texte{
    color: black;
  }

  .position{
    border-style: solid;
    border-color: #9CA3A3;
    background-color: #9CA3A3;
    text-align: center;
    width: 100%;

  }

  span{
    color: blue;
  }

  .footercmpl{
    border-style: solid;
    border-color: #9CA3A3;
    background-color: #9CA3A3;
    text-align: center;
    }
  ul
  {
      list-style-type: none;
      display: inline-block;
    }

  li{
    text-align: center;
    width: 140%;
    }

  .img{
    width: 40%;
  }

  .barre{
    width: 60%;
  }
/*################################################################################*/
/*##############################desktop###########################################*/
/*################################################################################*/

@media screen and (min-width: 650px) {


  body{
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .position{
    visibility: hidden;
  }

  table{
    text-align: right;
  }

  footer{
    margin-bottom: 0%;

  }

  li{
    text-align:left;
  }

  .footercmpl{
    text-align: right;
    margin-bottom: 0%;
    /*margin-top: 100%;*/
    /*padding-bottom: 40%;*/
      }

}
